<nav class="fixed top-0 w-full backdrop-blur-lg bg-white/70 dark:bg-gray-900/70 z-50 transition-all duration-300">
  <div class="container mx-auto px-4 py-4">
    <div class="flex justify-between items-center">
      <div class="flex items-center space-x-8 ml-auto">

        <a routerLink="/" routerLinkActive="text-gray-900 dark:text-white"
          class="text-sm font-medium transition-colors text-gray-600 dark:text-gray-400"
          [routerLinkActiveOptions]="{ exact: true }">
          Home
        </a>

        <a routerLink="/projects" routerLinkActive="text-gray-900 dark:text-white"
          class="text-sm font-medium transition-colors text-gray-600 dark:text-gray-400"
          [routerLinkActiveOptions]="{ exact: true }">
          Projects
        </a>
        <button (click)="toggleTheme()"
          class="p-2 rounded-full hover:bg-gray-100 dark:hover:bg-gray-800 transition-colors" aria-label="Toggle theme">
          <img [ngSrc]="moonIconUrl" alt="Moon" class="w-8 h-8" decoding="async" title="Switch to Dark Mode" height="32" width="32"
            fetchpriority="high" priority [hidden]="isDark">
          <img [ngSrc]="sunIconUrl" alt="Sun" class="w-8 h-8" decoding="async" title="Switch to Light Mode" height="32" width="32"
            fetchpriority="high" priority [hidden]="!isDark">
        </button>
      </div>
    </div>
  </div>
</nav>